<ion-content class="ion-padding">
  <h1>CardioTrack</h1>
  <p>Sistema de Acompanhamento de Saúde Cardíaca</p>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Integrantes</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Laura Benttenmuller Perlingeiro</p>
      <p>Davi Lima de Moura</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Disciplina</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Engenharia de Software 2 - UNIRIO</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" routerLink="/dashboard">
    Voltar ao Dashboard
  </ion-button>
  
</ion-content>
